[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.20.0"
docopt = "*"
tqdm = "*"
rdflib = {git = "https://github.com/RDFLib/rdflib.git"}
"beautifulsoup4" = "*"
lxml = "*"

[dev-packages]
"flake8" = "*"
ipython = "*"
coverage = "*"
pytest = "*"

[requires]
python_version = "3.6"
