[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
docopt = "*"
tqdm = "*"
rdflib = {git = "https://github.com/RDFLib/rdflib.git"}

[dev-packages]
"flake8" = "*"
ipython = "*"
coverage = "*"
pytest = "*"

[requires]
python_version = "3.6"
